<html>

<head>
<style>
  html *
      {
         color: #000 !important;
         font-family: Arial !important;
      }
      p.small
        {
          font-size: 10px;
        }
        @media print {
           .noprint {
              visibility: hidden;
           }
           @page {
               size: auto;
               margin: 0;
           }
        }
</style>
</head>

<center>

<div class="noprint">
<h1 class="noprint">SeedPrint v0.1.1</h1>
<button onClick="window.location.reload();">Generate</button>
<button onClick="window.print();">Print</button>
<hr class="noprint">
</div>

<h3 class="noprint">⚠️ COPY SECRETS AT YOUR OWN RISK ⚠️</h3>

<img src="data:image/png;base64,{{ seed_qr_base64 }}" width="450" height="450">

<div class="noprint">
<br>
<h3>Seed QR Value</h3>
<textarea disabled rows="2" cols="150">
{{ seed_qr_string }}
</textarea>

<h3>Seed Phrase</h3>
<textarea disabled rows="4" cols="150">
{{ words }}
</textarea>

<h3>Entropy<h3>
<textarea disabled rows="2" cols="150">
{{ entropy }}
</textarea>

<h3>Seed<h3>
<textarea disabled rows="4" cols="150">
{{ seed }}
</textarea>

<h3>Derivation Path<h3>
<textarea disabled rows="4" cols="150">
{{ derivation_path }}
</textarea>

<h3>Fingerprint<h3>
<textarea disabled rows="4" cols="150">
{{ fingerprint }}
</textarea>

<h3>XPriv<h3>
<textarea disabled rows="4" cols="150">
{{ xpriv }}
</textarea>

<h3>XPub<h3>
<textarea disabled rows="4" cols="150">
{{ xpub }}
</textarea>
<br><br>
<hr>

<p class="small">Created by <a href='https://github.com/CypherToad/about'><strong>Cypher Toad</strong></a> @ 2021</p>

</center>
</div>


</html>
